{% extends "layout.html" %}
{% load static %}

{% block head_title %}
    Inicio
{% endblock %}

{% block content %}
    <main>
        <div class="rusuariov container" enctype="multipart/form-data">
            <h2>Registrar Producto</h2>
            <form method="POST">{% csrf_token %}
                {% load widget_tweaks%}
                <div class="imagenuv form-group">
                    <label for="imageperfiluv">Seleccione una foto para el producto</label>
                    {% render_field form1.ruta type="file" class="form-control-file" id="imageperfiluv" accept=".png, .jpg, .jpeg" %}
                    <input type="button" class="btn btn-primary" value="Subir imagen"
                        onclick="document.getElementById('imageperfiluv').click()">

                    <div class="container mostrar">
                        <div id="visualizar">

                        </div>
                    </div>
                </div>

                <br>

                <div class="form-group">
                    <label for="nombrep">Nombre del Producto</label>
                    {% render_field form.nombre type="text" class="form-control" placeholder="Ingrese el nombre del producto" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="preciop">Precio del Producto</label>
                    {% render_field form.precio type="text" class="form-control" placeholder="Ingrese el precio" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="existenciap">Existencias</label>
                    {% render_field form.existencia type="number" min="1" max="100" class="form-control" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="descripcionp">Descripción</label>
                    {% render_field form.descripcion type="text" class="form-control" placeholder="Ingrese una descripción del producto" %}
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Registrar Producto</button>
                
            </form>
        </div>
    </main>
{% endblock content %}