<nav class="sidenav">
    <div class="sidetop">
        <a href="#" class="ma">El mercadito</a>
        <i class="close-btn fas fa-arrow-alt-circle-left"></i>
    </div>

    <ul class="sidemenu">
        <li><a href="#" class="ma">Registrarse</a></li>
        <li><a href="#"class="ma">Iniciar sesión</a></li>
        <li><a href="#" class="ma">Carrito</a></li>
        <li><a href="#" class="ma">vender</a></li>
        <li>
            <a href="#" class="ma">categorias
                <i class="fas fa-chevron-down"></i>
            </a>
            <ul>
                <li><a href="#" class="ma">Madera</a></li>
                <li><a href="#" class="ma">Barro</a></li>
                <li><a href="#" class="ma">Tela</a></li>
                <li><a href="#" class="ma">Instrumentos</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="fade-bg"></div>