<nav class="sidenav">
    <div class="sidetop">
        <a href="#" class="ma">El mercadito</a>
        <i class="close-btn fas fa-arrow-alt-circle-left"></i>
    </div>

    <ul class="sidemenu">
        <li><a href="/registro_comprador" class="ma">Registrarse</a></li>
        <li>
            {% if not user.is_authenticated %}
                <a href="/login" class="ma">Iniciar Sesión</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="/logout" class="ma">Cerrar Sesión</a>
            {% endif %}
        </li>
        <li><a href="/registro_vendedor" class="ma">vender</a></li>
        <li>
            <a href="#" class="ma">categorias
                <i class="fas fa-chevron-down"></i>
            </a>
            <ul>
                {% for c in categorias %}
                    <li><a href="#" class="ma">{{c.nombre}}</a></li>
                {% endfor %}
                {% for a in object.get_categ %}
                    <li><a href="#" class="ma">{{ a.nombre }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
<div class="fade-bg"></div>