{% extends "layout.html" %}
{% load static %}

{% block head_title %}
    Inicio
{% endblock %}

{% block content %}
  <main>
    <div class="container" style="margin-top: 45px;">

    <div class="table-responsive text-nowrap">
    <h2>Resumen de pedidos</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.productos.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.producto.nombre }}</td>
            <td>{{ order_item.producto.precio }}</td>
            <td>
                <a href="{% url 'mercadito:remove-single-item-from-cart' order_item.producto.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.cantidad }}
                <a href="{% url 'mercadito:add-to-cart' order_item.producto.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.producto.descuento %}
                ${{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Te lo llevas en C$ {{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'mercadito:remove-from-cart' order_item.producto.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Tu carrito esta vacío</td>
        </tr>
        <tr>
            <td colspan="5">
            <button class='btn btn-primary float-right' onclick="window.location='/';">Continuar comprando</button>
            </td>
        </tr>
        {% endfor %}
        {% if object.cupon %}
        <tr>
            <td colspan="4"><b>Cupon</b></td>
            <td><b>-${{ object.cupon.cantidad }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Gran total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <br>
            <td colspan="5">
                <button class='btn btn-success float-right ml-2' onclick="window.location='/checkout/';">Proceder a pagar</button>
                <button class='btn btn-primary float-right' onclick="window.location='/';">Continuar comprando</button>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}