{% extends "layout.html" %}
{% load static %}

{% block head_title %}
    Inicio
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="side">
            <img src="{{ object.get_imagen.ruta.url }}" alt="">
            <button class="btn btn-danger mg"><span><i class="fas fa-heart ipt"></i></span> Me gusta</button>
        </div>
        <br>
        <div class="contnt">
            <p>A x personas les gusta este producto</p>
            <h1>{{ object.get_producto.nombre }}</h1>
            {% for c in object.get_categoria.categoria.all %}
                <a href="#">{{ c.nombre }}</a>
            {% endfor %}
            
            <br>
            <br>
            <h5>Descripcion</h5>
            <br>
            <p>{{ object.get_producto.descripcion }}</p>
            <br>
            <button class="btn btn-primary comp"><span><i class="fas fa-shopping-bag ipt"></i></span>Comprar</button>
            <button class="btn btn-success"><span><i class="fa fa-shopping-cart ipt" ></i></span>Agregar al carrito</button>
        </div>
    </div>
</main>
{% endblock content %}