{% extends "layout.html" %}
{% load static %}

{% block head_title %}
    Inicio
{% endblock %}

{% block content %}
<main>
    <div class="container condicionesu">
        <h2>Condiciones de Uso</h2>
        <p>Creada el 9 de julio de 2020</p>
        <p><strong>Ultima actualizacion 9 de julio 2020</strong></p>
        <hr>

        <p>
            Bienvenido a El mercadito nuestro sitio permite la compra de productos artesanales 100% Nicaraguenses.
            asi como la venta de estos dentro de la plataforma, cada vendedor puede gestionar las compras de sus prodcutos, asi como
            agregar mas prodcutos en stock. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, corporis nesciunt, ut numquam 
            recusandae possimus eveniet natus, labore iure nobis perspiciatis cupiditate qui ex suscipit nisi repellat esse dolores iusto.
        </p>
        
        <br>

        <h4>Al usar los servicios de El mercadito, usted acepta estas condiciones por favor lealas detenidamente.</h4>
        <hr>
        <br>        
        <p>
            Ofrecemos servicios enfocados en ayudar a los Nicaraguenses que producen prodctos artesanales no alimenticios, a que consigan 
            llegar a mas personas, y hacer crecer la econocmia del pais.L Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus 
            ullam minus totam, dolorem neque voluptas! Ipsa necessitatibus adipisci praesentium fugiat accusantium, eveniet aut aliquam incidunt, 
            voluptatum, delectus ex minus? Quis.

        </p>

        <br>
        <h4>Privacidad</h4>
        <hr>
        <br>
        <p>Por favor lea la siguiente información provisa en el siguiente enlace <span><a href="#">Nota de privacidad</a></span> 
            la cual continee los elementos de privacidad que se toman como entidad.
        </p>

        <br>
        <h4>Derechos reservados</h4>
        <hr>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eveniet vitae, pariatur ad reiciendis sapiente officiis, enim libero sequi
            dignissimos repudiandae? Odit sed accusamus vitae, architecto suscipit nemo obcaecati! Quaerat. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quibusdam in voluptatem error iste fugiat veritatis rerum esse deleniti optio dolor molestiae, quae delectus, laudantium natus vel obcaecati commodi ad nihil.
        </p>

        <br>
        <h4>Licencia y acceso</h4>
        <hr>
        <br>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore sit exercitationem est, odio asperiores velit maiores sed repudiandae debitis dolor incidunt deleniti 
            ea ad possimus in iure, odit necessitatibus eius?Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus velit omnis quasi dolores doloremque ratione ipsum natus 
            quidem! Dolorum, deserunt. Ex nostrum eveniet nobis corporis minus quasi excepturi distinctio! Ad. Lorem ipsum, dolor sit amet consectetur adipisicing elit. At deserunt, ratione
            doloremque, consectetur unde velit dolore iure cumque accusantium, suscipit ipsa perferendis hic illo aliquid. Eligendi odio reiciendis cupiditate incidunt?
        </p>

        <br>
        <h4>Su cuenta</h4>
        <hr>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at ab sunt aperiam, sint odio architecto doloremque aspernatur autem temporibus eaque sit quasi assumenda voluptates 
            iure voluptatibus minus necessitatibus pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat quos eligendi, deleniti assumenda atque totam vel, voluptates 
            fugiat, dignissimos at soluta aut qui reprehenderit voluptatum vero nihil quo voluptas?, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio est, explicabo placeat 
            suscipit et eveniet corporis nam dolor, culpa architecto harum ab eos vitae praesentium vero consequatur officia consectetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error
            pariatur fugiat quia quod aliquid consectetur magnam, vel cumque doloribus iste earum id nesciunt. Perferendis, culpa enim! Velit possimus sunt magnam.
        </p>
    </div>       
</main>
{% endblock content %}