{% extends "layout.html" %}
{% load static %}

{% block head_title %}
    Inicio
{% endblock %}

{% block content %}
<main>
    <div class="container notap">
        <h2>Nota de privacidad de El mercadito</h2>
        <p>Creada el 9 de julio de 2020</p>
        <p><strong>Ultima actualizacion 9 de julio 2020</strong></p>
        <hr>
        
        <p>Sabemos que la informacion es lo más importante, por ello nos comprometemos a no revelar informacion
            personal que hayan compartido en este sitio, sus cuentas estan seguras, la ley es lo primero y somos 
            una entidad dispuesta a cumplir las normas, pero también se requiere el compromiso de cada uno de los usuarios 
            de que no intentaran nada deshonesto. Por el uso de los servicios de El mercadito, usted nos da el concentimiento
            para las siguientes prácticas: 
        </p>
        <br>
        <h4>¿Que información personal recolectamos?</h4>
        <hr>
        <br>
        <p>Nosotros colectamos información relacionada con las actividades propias del sitio, compras y ventas de productos</p>
        <p>Acá el tipo de información personal que recolectamos:</p>
        <ul class="lista">
            <li>
                <p><strong>Infomación que nos proporciona: </strong>Recibimos y almacenamos cualquier información que proporcione en relación con los Servicios de El mercadito.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempore, libero facere omnis ratione magni, id accusantium error odio iure ipsam culpa eveniet odit laboriosam temporibus mollitia sunt quasi fuga!
                </p>
            </li>
            <li>
                <p><strong>Información automática:</strong>
                    Recopilamos y almacenamos automáticamente ciertos tipos de información sobre su uso de los Servicios de El mercadito, incluida la información sobre su interacción 
                    con el contenido y los servicios disponibles a través de los Servicios de El mercadito. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim placeat nobis libero.
                    Eum, magnam? Accusantium tempora corrupti necessitatibus odit dolorem obcaecati aut ratione! Amet eveniet nisi quo quae deserunt. Corrupti.
                </p>
            </li>
            <li>
                <p>
                    <strong>Información de otras fuentes:</strong>
                    Es posible que recibamos información sobre usted de otras fuentes, como información actualizada de entrega y dirección de nuestros transportistas, que utilizamos para corregir nuestros registros y entregar su próxima compra más fácilmente. 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatum repellat eius voluptas fuga sed dolorem quis. Consectetur, blanditiis ipsam, enim sit laudantium, esse atque quas ut adipisci dignissimos a.
                </p>
            </li>
        </ul>

        <br>
        <h4>¿Con que fin utiliza El mercadito su información personal?</h4>
        <hr>
        <br>

        <p>Nosotros usamos su informacion personal para poder operar correctamente, y para poder ofrecer servicios de mayor calidad.</p>

        <ul class="lista">
            <li>
                <strong>Compra y entrega de productos y servicios.</strong>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dolores, quos quo, natus esse ad id eum magni omnis harum ut nulla velit iure. Repellat dignissimos voluptates necessitatibus enim reprehenderit.
            </li>
            <br>
            <li>
                <strong>Proporcionar, solucionar problemas y mejorar los sevicios de El mercadito</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam temporibus aspernatur, ullam itaque saepe necessitatibus non fuga rem praesentium laboriosam vero veritatis cumque molestiae earum, asperiores ducimus mollitia reiciendis alias!
            </li>
            <br>
            <li>
                <strong>Recomendaciones y personalización.</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, natus inventore est aperiam voluptate, incidunt sapiente hic ut corrupti, et dolorem vero. Aspernatur cupiditate excepturi quisquam expedita nobis deleniti autem?
            </li>
            <br>
            <li>
                <strong>Cumplir con las obligaciones legales.</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsum ea explicabo ex laudantium accusantium modi delectus cupiditate reprehenderit quidem nemo soluta maiores, fuga molestias ipsa optio ad voluptatum praesentium!
            </li>
        </ul>

    </div>       
</main>
{% endblock content %}