main{
    margin-top: 51px;
}

.principal{
    margin-top: 0px;
}

.isesion.container, .rusuariov.container{
    margin-bottom: 60px;
    padding: 0px 25px;
    margin-top: 30px;
}

.isesion.container h1, .rusuariov.container h1{
    margin-bottom: 10px;
}

.isesion.container p, .rusuariov.container p{
    color: #525252;
}

.isesion.container .form-group, .rusuariov.container .form-group{
    line-height: 50px;
}

.rusuarioc.container, .rusuariov.container{
    padding: 40px 20px;
    max-width: 700px;
}

.rusuarioc.container textarea, .rusuariov.container textarea{
    resize: none;
}

.imagenuc, .imagenuv{
    display: flex;
    flex-direction: column;
}

#imageperfiluc, #imageperfiluv{
    display: none;
}

div.container.ver, div.container.mostrar{
    display: flex;
    justify-content: center;
}

.lista{
    list-style-type: disc;
}

.container.notap, .container.condicionesu{
    margin-top: 40px;
    margin-bottom: 100px;
}

.carousel-inner{
    z-index: -1;
    transform: translateY(-51px);
}

header{
    z-index: 100;
}

.fch, .carousel-indicators{
    transform: translateY(-51px);
}

.carousel-item{
    overflow: hidden;
}

#submitBtn, #addCartBtn{
    border-radius: 0;
    margin: 10px 0;
}

.imagenproducto{
    width: 100%;
}

.valoracion{
    float: right;
}

.card{
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding-bottom: 5px;
    overflow: hidden;
}

.view.overlay{
    cursor: pointer;
}

#novedades{
    margin-top: 40px;
}

/* Productos */
.card-body p a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.card-body p{
    margin-bottom: 10px;
}

.convaloracion p{
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

.card-body .personas{
    font-size: 14px;
    padding: 10px 0;
    margin-bottom: 15px;
}

.convaloracion{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.convaloracion i{
    font-size: 22px;
    color:#b3abab;
    cursor: pointer;
}

.precio{
    font-size: 28px;
    font-weight: bold;
}

.estado{
    position: absolute;
    top: 0;
    right: 0;
    background: red;
}

.estado p{
    padding: 5px;
    margin: 0px;
    color: #fff;
    font-weight: bold;
}

.abajo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.abajo .vermas{
    border-radius: 50%;
    cursor: pointer;
    padding: 12px 16px;
}

.abajo .vermas:hover{
    background: #e8e8e8;
}

/* Media queries*/
@media screen and (min-width : 767px){
    .isesion.container{
        width: 500px;
        margin: 60px auto 120px auto;
        border: 1px solid #525252;
        padding: 60px 15px;
        border-radius: 5px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
    }
}

@media screen and (min-width : 1023px){
    .isesion.container{
        width: 550px;
        margin: 70px auto 195px auto;
        padding: 70px 20px;
        
    }
    
    .carousel-item{
        height: 500px;
    }
    
    .carousel-inner{
        transform: translateY(-10px);
    }

    .fch, .carousel-indicators{
        transform: translateY(-10px);
    }
}


@media screen and (max-width: 500px){
    .carousel-inner{
        transform: translateY(-20px);
    }

    .fch, .carousel-indicators{
        transform: translateY(-20px);
    }
}

@media screen and (min-width: 1367px){
    .rusuarioc.container, .rusuariov.container{
        padding: 50px 20px;
        max-width: 900px;
    }
    .carousel-item{
        height: 650px;
    }
    .carousel-inner{
        transform: translateY(-51px);
    }

    .fch, .carousel-indicators{
        transform: translateY(-51px);
    }
}


@media screen and (min-width: 1600px){
    .rusuarioc.container, .rusuariov.container{
        padding: 60px 30px;
        max-width: 1200px;
    }
}

@media screen and (min-width: 1921px){
    header{
        max-width: 1920px;
    }
}
