{% extends "layout.html" %}
{% load static %}

{% block head_title %}
Registro
{% endblock %}

{% block content %}
<main>
    <div class="rusuariov container" enctype="multipart/form-data">
        <h2>Actualizar perfil</h2>

        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {% load widget_tweaks%}
            <div class="form-group">
                <label for="nombresuv">Nombres</label>
                {% render_field form.nombres type="text" class="form-control" placeholder="Ingrese su primer y segundo nombre" %}
            </div>

            <br>

            <div class="form-group">
                <label for="apellidosuv">Apellidos</label>
                {% render_field form.apellidos type="text" class="form-control" placeholder="Ingrese su primer y segunfo apellido" %}
            </div>

            <br>

            <div class="form-group">
                <label for="ciudaduv">Ciudad</label>
                {% render_field form.ciudad type="text" class="form-control" placeholder="Ingrese la ciudad en la que reside" %}
            </div>

            <br>

            <div class="form-group">
                <label for="telefonouv">Telefono</label>
                {% render_field form.telefono type="text" class="form-control" placeholder="Ingrese su número de teléfono" %}
            </div>

            <br>

            <div class="form-group">
                <label for="direccionuv">Dirección</label>
                {% render_field form.direccion type="text" class="form-control" placeholder="Ingrese la dirección" %}
            </div>

            <br>

            <div class="form-group">
                <label for="descripcionnuv">Descripción</label>
                {% render_field form.descripcion type="text" class="form-control" placeholder="Escriba una descripción personal" %}
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
    </div>
</main>
{% endblock content %}