{% extends "layout.html" %}
{% load static %}

{% block head_title %}
    Iniciar sesión
{% endblock %}

{% block content %}

<main>
    <div class="container">
        <h1>Iniciar sesión</h1>
        <form method="post" class="inormal">
            <p>Nombre de usuario</p>
            <input type="text" name="nusuario" placeholder="Usuario">
            <p>Contraseña</p>
            <input type="password" name="cusuario" placeholder="Contraseña">
            <a href="#">¿Ha olvidado su contaseña?</a>
            <button class="btn btn-primary" type=subtmit>Acceder</button>
        </form>    
    </div>
</main>

{% endblock content %}