{% extends "layout.html" %}
{% load static %}

{% block head_title %}
    Iniciar sesión
{% endblock %}

{% block content %}
<main>
    <div class="isesion container">
        <h1>Iniciar sesión</h1>
        <p>Si aún no tiene una cuenta puede registrarese en el siguiente enlace <span><a href="#">Regristrase</a></span>.</p>
        <form method="POST">{% csrf_token %}
            {% load widget_tweaks%} 
            <div class="form-group">
                <label for="nusuario">Nombre de usuario</label>
                {% render_field form.username type="text" class="form-control" id="nusuario" placeholder="Ingresar Usuario" %}
            </div>
            <div class="form-group">
                <label for="rusuario">Ingresar como</label>
                <select class="form-control" id="rusuario" name="tipo">
                    <option value="comprador">Comprador</option>
                    <option value="vendedor">Vendedor</option>
                </select>    
            </div>
            <div class="form-group">
                <label for="pusuario">Contraseña</label>
                {% render_field form.password type="password" class="form-control" id="pusuario" placeholder="Ingresar contraseña" %}
                <a href="#">¿Ha olvidado su contraseña?</a>
            </div>
            <button type="submit" class="btn btn-primary">Acceder</button>
        </form>
    </div>
</main>

{% endblock content %}