{% extends "layout.html" %}
{% load static %}

{% block head_title %}
Registro
{% endblock %}

{% block content %}
<main>
    <div class="rusuariov container" enctype="multipart/form-data">
        <h2>Registro Vendedor</h2>
        <p>La siguiente cuenta le permitira ofrecer sus productos, clasificarlos, gestionar stock y establecer
            descuentos</p>
        <form method="POST">{% csrf_token %}
            {% load widget_tweaks%}
            <div class="form-group">
                {% load widget_tweaks%}
                <div class="imagenuv form-group">
                    <label for="imageperfiluv">Seleccione una foto de Perfil</label>
                    {% render_field form.avatar type="file" class="form-control-file" id="imageperfiluv" accept=".png, .jpg, .jpeg" %}
                    <input type="button" class="btn btn-primary" value="Subir imagen"
                        onclick="document.getElementById('imageperfiluv').click()">

                    <div class="container mostrar">
                        <div id="visualizar">

                        </div>
                    </div>
                </div>
                
                <h3>Datos del Usuario</h3>

                <div class="form-group">
                    <label for="nusuariov">Nombre de usuario</label>
                    {% render_field form.username type="text" class="form-control" placeholder="Ingrese un usuario" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="pusuariov">Contraseña</label>
                    {% render_field form.password1 type="password" class="form-control" placeholder="Ingrese una contraseña" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="pusuariov1">Confirmar contraseña</label>
                    {% render_field form.password2 type="password" class="form-control" placeholder="Confirme la contraseña" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="correov">Correo</label>
                    {% render_field form.email type="email" class="form-control" placeholder="Ingrese su correo electrónico" %}
                </div>

                <br>
                <hr>

                {% load widget_tweaks%}
                <h3>Datos personales</h3>

                <div class="imagenuv form-group">
                    <label for="imageperfiluv">Seleccione una foto para su negocio</label>
                    {% render_field form1.portada type="file" class="form-control-file" id="imageperfiluv" accept=".png, .jpg, .jpeg" %}
                    <input type="button" class="btn btn-primary" value="Subir imagen"
                        onclick="document.getElementById('imageperfiluv').click()">

                    <div class="container mostrar">
                        <div id="visualizar">

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nombresuv">Nombres</label>
                    {% render_field form1.nombres type="text" class="form-control" placeholder="Ingrese su primer y segundo nombre" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="apellidosuv">Apellidos</label>
                    {% render_field form1.apellidos type="text" class="form-control" placeholder="Ingrese su primer y segunfo apellido" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="ciudaduv">Ciudad</label>
                    {% render_field form1.ciudad type="text" class="form-control" placeholder="Ingrese la ciudad en la que reside" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="telefonouv">Telefono</label>
                    {% render_field form1.telefono type="text" class="form-control" placeholder="Ingrese su número de teléfono" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="direccionuv">Dirección</label>
                    {% render_field form1.direccion type="text" class="form-control" placeholder="Ingrese la dirección" %}
                </div>

                <br>

                <div class="form-group">
                    <label for="descripcionnuv">Descripción</label>
                    {% render_field form1.descripcion type="text" class="form-control" placeholder="Escriba una descripción personal" %}
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

    </div>
</main>
{% endblock content %}